<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring Security RBAC</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav>
            <span sec:authorize="isAuthenticated()">
                Welcome, <span sec:authentication="name"></span> |
                <a th:href="@{/logout}">Logout</a>
            </span>
    </nav>
</header>
<main>
    <div th:replace="${content}"></div>
</main>
</body>
</html>